<%= render ERRORS_MSG_URL, obj: @user %>

<h1 class="center">Edit user</h1>

<%= render 'form', obj: admin_user_path(@user),
  diff_message: "Do not type any word, if you don't want to change password"
%>
