<div class="row center">
	<h1 class="col-sm-3 offset-sm-4">Users List</h1>
	<div class="col-sm-2 offset-sm-2">
		<%= button_to "add New user", new_admin_user_path, method: :get,
			class: "btn btn-outline-primary rounded-pill text-monospace", style: "margin-top:11px" %>
	</div>
</div>

<%= render 'index_user', obj: @users %>
<%= render 'index_admin', obj: @admins %>
